input{
  background-color:rgb(61, 10, 50);
  border: 2px solid paleturquoise;
  width: 10em;
  height: 3em;
  font-size: xx-large;
  border-radius: 5PX;
  font-family:"thabit" ;
  font-weight: bolder;
  font-style: italic;
  color: wheat;
  
}
button{
  background-color: rgb(146, 153, 51);
  border-radius: 50%;
  margin-left: 2em;
  width: 50px;
  height: 50px;
  margin-top: 20PX;
}

.add-list{
  background:  linear-gradient(-210deg,rgb(131, 68, 116) 30%, rgb(248, 223, 227) 30%);
}
div{
  border-radius: 25px;
  padding: 10px;
}
div :not(.add-list){
  margin: 20px;
}