input{
  background-color:rgb(61, 10, 50);
  border: 2px solid paleturquoise;
  width: 10em;
  height: 3em;
  font-size: xx-large;
  border-radius: 5PX;
  font-family:"thabit" ;
  font-weight: bolder;
  font-style: italic;
  color: paleturquoise;
  
}
button{
  background-color: rgb(146, 153, 51);
  border-radius: 50%;
  margin-left: 2em;
  width: 25px;
  height: 25px;
  margin-top: 10PX;
  cursor: pointer;
}
.addbtn{
  width: 50px;
  height: 50px;
  margin-left: 2em;
  background-color: rgb(61, 10, 50);
  color: paleturquoise;

}

.add-list{
  background:  linear-gradient(-210deg,rgb(131, 68, 116) 30%, rgb(248, 223, 227) 30%);

  width:210vh;
  height: 25vh;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: -20px;
}
.list{
  width: 50%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 10px;
}

.llist{
  justify-content: space-evenly;
  display: flex;
  text-align:justify;
  align-items: flex-start;
  flex-wrap: wrap;
  width:205vh;
  height: 75vh;
  margin-top: 0;
  overflow-y: scroll;
  scrollbar-color: rgb(61, 10, 50) rgb(248, 223, 227);
  gap: 3px 0;
  
}
.llist::-webkit-scrollbar {
  display: none;
}
.h1list{
  display: inline;
  
  
}
.x{
display: flex;
justify-content: flex-end;
text-align: right;
align-items: flex-end;
}
@media screen and (max-width:1000px) and (orientation: landscape){
  *{
    overflow:hidden;
  }
  
  input{
    margin-top:10px;
    width: 10em;
  height: 2.5em;
  font-size: large;
  }
 .add-list{
  width: 1000px;
 }
 .list{
  width: 80%;

}


 
button:not(.addbtn){
  margin-left: 0;
  width: 25px;
  height: 25px;

}
.h1list{
  font-size:large;
  font-weight: bolder;
}
}
@media screen and (max-width:1000px) and (min-width:400px) and  (orientation: landscape){
  .llist{
    width: 800px;
    
  
  }
}
@media screen and (max-width:400px) and (min-width:300px) and  (orientation: landscape){
  .llist{
    width: 200px;
    
  }
  
}
@media  screen and (max-width:500px) and (orientation:portrait) {
 *{
    overflow: hidden;

  }
  
  input{
    margin-top:10px;
    width: 10em;
  height: 2.5em;
  font-size: large;
 
  }
 
.list{
  width: 80%;
}
.x{
  width: 20%;
}
button:not(.addbtn){
  margin-left: 0;
  width: 25px;
  height: 25px;

}
.h1list{
  font-size:large;
  font-weight: bolder;
}
  
}
@media  screen and (max-width:500px) and (orientation:portrait)and (min-width:400px)  {
  .add-list{
    width: 500px;
   }
   .llist{
    width: 400px;
   }

}
@media  screen and (max-width:400px) and (orientation:portrait){
  .add-list{
    width: 400px;
   }
   .llist{
    width: 300px;
   }

}
@media  screen and (max-width:1024px) and  (min-width:768px) and (orientation:portrait){
  *{
    overflow:hidden;
  }
  .add-list{
    width:1000px;
   }
   .llist{
    width: 700px;
   }
   .list{
    width: 80%;
  }
  .x{
    width: 20%;
  }

}
@media  screen and (max-height:1024px) and  (min-height:768px) and (orientation:landscape){
  *{
    overflow:hidden;
  }
  .add-list{
    width:1000px;
   }
   .llist{
    width: 1000px;
   }
   .list{
    width: 80%;
  }
  .x{
    width: 20%;
  }

}


