input{
  background-color:rgb(61, 10, 50);
  border: 2px solid paleturquoise;
  width: 10em;
  height: 3em;
  font-size: xx-large;
  border-radius: 5PX;
  font-family:"thabit" ;
  font-weight: bolder;
  font-style: italic;
  color: paleturquoise;
  
}
button{
  background-color: rgb(146, 153, 51);
  border-radius: 50%;
  margin-left: 2em;
  width: 25px;
  height: 25px;
  margin-top: 10PX;
}
.addbtn{
  width: 50px;
  height: 50px;
  margin-left: 2em;
  background-color: rgb(61, 10, 50);
  color: paleturquoise;

}

.add-list{
  background:  linear-gradient(-210deg,rgb(131, 68, 116) 30%, rgb(248, 223, 227) 30%);

  width:210vh;
  height: 25vh;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: -20px;
}
.list{
  width: 50%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 10px;
}

.llist{
  justify-content: space-evenly;
  display: flex;
  text-align:justify;
  align-items: flex-start;
  flex-wrap: wrap;
  width:205vh;
  height: 75vh;
  margin-top: 0;
  overflow-y: scroll;
  scrollbar-color: rgb(61, 10, 50) rgb(248, 223, 227);
  gap: 3px 0;
  
}
.llist::-webkit-scrollbar {
  display: none;
}
.h1list{
  display: inline;
  
  
}
.x{
display: flex;
justify-content: flex-end;
text-align: right;
align-items: flex-end;
}
@media screen and (max-width:1000px) and (orientation: landscape){
  *{
    overflow:hidden;
  }
  input{
    margin-top:10px;
    width: 7em;
  height: 1.5em;
  }
 .add-list{
  width: 1000px;
 }
}