/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: "thabit";
  src: local("CustomFont1Name"),
       url("d:\programming\font\AliMD-1fonts-d636f27\fonts\thabit.ttf") format("truetype");
      
}

body{
  font-family:"thabit" ;
  font-weight: bolder;
  font-size: large;
  background:url('pexels-cottonbro-studio-5191391.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}
